<launch>

<!--    <env name="HUSKY_REALSENSE_ENABLED" value="1" />-->
<!--    <env name="HUSKY_REALSENSE_TOPIC" value="realsense" />-->
<!--    <env name="HUSKY_REALSENSE_PREFIX" value="camera" />-->
<!--    <env name="HUSKY_REALSENSE_PARENT" value="top_plate_link" />-->
<!--    <env name="HUSKY_REALSENSE_XYZ" value="0 -0.25 0.2" />-->
<!--    <env name="HUSKY_REALSENSE_SECONDARY_RPY" value="0 0 -1.5707963" />-->

<!--    <env name="HUSKY_LMS1XX_ENABLED" value="0" />-->
<!--    <env name="HUSKY_LMS1XX_TOPIC" value="front/scan" />-->
<!--    <env name="HUSKY_LMS1XX_TOWER" value="1" />-->
<!--    <env name="HUSKY_LMS1XX_PREFIX" value="front" />-->
<!--    <env name="HUSKY_LMS1XX_PARENT" value="top_plate_link" />-->
<!--    <env name="HUSKY_LMS1XX_XYZ" value="0.2206 0.0 0.00635" />-->
<!--    <env name="HUSKY_LMS1XX_RPY" value="0.0 0.0 0.0" />-->

<!--    <node name="husky_setup_shell_script" pkg="cpr_orchard_gazebo" type="setup_husky.sh" />-->

    <include file="$(find sim_orchard_gazebo)/launch/orchard_world.launch" >
        <arg name="platform" value="husky" />
    </include>
    
    <include file="$(find mobile_robotics)/launch/contoller_teleop.launch" >
        <arg name="angular_scale" value="0.4" />
        <arg name="linear_scale" value="0.5" />
        <arg name="joy_dev" value="/dev/input/js1" />
    </include>

    <node type="tree_location_sensor.py" name="image_filter_node" pkg="sim_pf_trunk_width"/>

    <node pkg="tf" type="static_transform_publisher" name="stfp" args="3 9 0.4 1.5707963 0 0 /map /odom 30"/>

    <node pkg="sim_pf_trunk_width" name="pose_ground_truth" type="pose_gt_pub.py" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sim_pf_trunk_width)/config/localize.rviz"/>



</launch>